/*Tan CMYK-25,40,65,0 HEX-#bf9959 RGB-191,153,89*/

/* ----- Styles ----- */
.twitter-link {
	color: #4099ff;
}

.instagram-link {
	color: #bf9959;
}

.instagram-link:hover {
	color: #886d40;
}

/*Navbar*/
#main-nav {
	width: 100%;
}

.navbar {
	min-height: 40px;
	background-color: rgba(250,250,250,0.98);
	border: none;
}

.navbar-nav {
	margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    text-align: center;
}

.navbar-brand {
	margin-right: -44px;
	padding: 11px 12px 8px 8px;
	background-color: #bf9959;
}

.navbar-default .navbar-brand:hover {
	background-color: #cfaf77;
}

.navbar-brand span {
	color: #ffffff;
	font-size: 28px;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #cfaf77;
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #404040;
	text-transform: uppercase;
	font-family: 'Locator-Light';
	font-size: 12px;
	letter-spacing: 0.25em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #808080;
}

/*Content*/
#content-container {
	width: 100%;
}

/*Home*/
#home {
	padding: 50px 0 100px 0;
	background: url('../img/backgrounds/wood.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #202020;
}

#home #home-content {
	text-align: center;
}

#home #home-content img {
	margin-top: 50px;
	width: 65%;
	opacity: 0.8;
}

#home-buttons {
	text-align: center;
	width: 85%;
}

#home-buttons ul {
	list-style-type: none;
	padding: 0;
}

#home-buttons ul li {
	display: inline;
	padding: 0 25px;
}

#home-buttons ul li a {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: 'Locator-Black-900';
	letter-spacing: 0.25em;
}

#home .btn-lg {
	border: none;
	padding: 25px 0;
}

#order-now-button {
	background-color: #ffffff;
	color: #404040;
}

#order-now-button:hover {
	background-color: #f0f0f0;
	color: #404040;
}

#download-preview-button {
	background-color: #bf9959;
	color: #ffffff;
}

#download-preview-button:hover {
	background-color: #b48f50;
	color: #ffffff;
}

#home-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#home-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	/*font-family: 'Locator-Black-Italic-700';*/
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#home-footer-credit {
	margin-left: 10px;
	white-space: nowrap;
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Why*/
#why {
	padding: 50px 0 100px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#why-header {
	text-align: center;
}

#why-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#why-header h3 {
	color: #bf9959;
	font-family: serif;
	font-size: 24px;
	font-family: 'Locator-Black-Italic-700';
	font-style: italic;
}

#why-book {
	margin-top: 25px;
}

#why-book img {
	max-width: 75%;
}

#why-text {
	margin-top: 25px;
	font-family: 'Locator-Light';
}

#why-buttons {
	text-align: center;
	width: 85%;
	margin-top: 25px;
}

#why-buttons ul {
	list-style-type: none;
	padding: 0;
}

#why-buttons ul li {
	display: inline;
	padding: 0 25px;
}

#why-buttons ul li a {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Locator-Black-900';
}

#why .btn-lg {
	border: none;
	padding: 25px 0;
}

#why-buttons ul li:first-child a {
	background-color: #202020;
	color: #fff;
}

#why-buttons ul li:first-child a:hover {
	background-color: #171717;
	color: #fff;
}

#why-buttons ul li:last-child a {
	background-color: #bf9959;
	color: #ffffff;
}

#why-buttons ul li:last-child a:hover {
	background-color: #b48f50;
	color: #ffffff;
}

#why-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#why-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	/*font-family: 'Locator-Black-Italic-700';*/
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#why-footer-credit {
	margin-left: 10px;
	white-space: nowrap;
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Endorsements*/
#endorsements {
	padding: 50px 0 100px 0;
}

#endorsements-header {
	text-align: center;
	margin-bottom: 50px;
}

#endorsements-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#endorsements-container {
	width: 85%;
}

.endorsement {
	margin-bottom: 35px;
}

.endorsement-quote {
	margin: 0 0 10px 0;
	font-family: 'Locator-Light';
}

.endorsement-author {
	margin: 0 0 0 35px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Locator-Black-900';
}

#endorsements .twitter-link {
	margin-left: 10px;
}

.endorsement-author-description {
	margin: 0 0 0 35px;
	color: #808080;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#read-more-button {
	margin-bottom: 50px;
	text-align: center;
}

#read-more-button .btn-lg {
	border: none;
}

#read-more-button .btn-default {
	padding: 15px 75px;
	background-color: #c0c0c0;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Locator-Light';
	letter-spacing: 0.25em;
}

#read-more-button .btn-default:hover {
	background-color: #b7b7b7;
}

#endorsements-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#endorsements-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	/*font-family: 'Locator-Black-Italic-700';*/
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#endorsements-footer-credit {
	margin-left: 10px;
	white-space: nowrap;
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Purchase*/
#purchase {
	padding: 50px 0 100px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#purchase-header {
	text-align: center;
	margin-bottom: 50px;
}

#purchase-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#purchase-buttons {
	margin-bottom: 50px;
	text-align: center;
	width: 85%;
}

#purchase-buttons ul {
	list-style-type: none;
	padding: 0;
}

#purchase-buttons ul li {
	display: inline;
	padding: 0 50px;
}

#purchase-buttons ul li a {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Locator-Black-900';
}

#purchase .btn-lg {
	border: none;
	padding: 25px 0;
}

#purchase-buttons ul li:first-child a {
	background-color: #c0c0c0;
	color: #ffffff;
}

#purchase-buttons ul li:first-child a:hover {
	background-color: #b7b7b7;
	color: #ffffff;
}

#purchase-buttons ul li:last-child a {
	background-color: #bf9959;
	color: #ffffff;
}

#purchase-buttons ul li:last-child a:hover {
	background-color: #b48f50;
	color: #ffffff;
}

#purchase-book {
	text-align: center;
}

#purchase-ebook {
	text-align: center;
}

#purchase-book img {
	max-width: 100%;
}

#purchase-ebook img {
	max-width: 100%;
}

#purchase-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#purchase-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	/*font-family: 'Locator-Black-Italic-700';*/
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#purchase-footer-credit {
	margin-left: 10px;
	white-space: nowrap;
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Author*/
#author {
	padding: 50px 0 100px 0;
}

#author-header {
	text-align: center;
	margin-bottom: 50px;
}

#author-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#author-pic {
	text-align: center;
}

#author-info {
	margin: 0 15%;
	width: 70%;
}

#author-pic img {
	max-width: 75%;
	margin-bottom: 50px;
}

#author-text {
	font-family: 'Locator-Light';
}

#author-text strong {
	text-transform: uppercase;
}

#author-social {
	text-align: center;
}

#author .twitter-link, #author .instagram-link {
	font-size: 48px;
}

#author-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#author-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	/*font-family: 'Locator-Black-Italic-700';*/
	font-style: italic;
}

#author-footer-credit {
	margin-left: 10px;
	white-space: nowrap;
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Share*/
#share {
	padding: 50px 0 100px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#share-header {
	text-align: center;
	margin-bottom: 50px;
}

#share-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#share-buttons ul {
	list-style-type: none;
	padding: 0;
}

#share-buttons ul li a {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Locator-Light';
}

#share .btn-lg {
	border: none;
	padding: 15px 0;
}

#facebook-share-button {
	background-color: #3b5999;
	color: #ffffff;
}

#facebook-share-button:hover {
	background-color: #32497a;
	color: #ffffff;
}

#twitter-share-button {
	background-color: #4099ff;
	color: #ffffff;
}

#twitter-share-button:hover {
	background-color: #3a85db;
	color: #ffffff;
}

#pinterest-share-button {
	background-color: #c92228;
	color: #ffffff;
}

#pinterest-share-button:hover {
	background-color: #aa2025;
	color: #ffffff;
}

/*Thanks*/
#thanks {
	min-height: 800px;
	padding: 150px 0 100px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#thanks-header {
	text-align: center;
}

#thanks-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#thanks-header h3 {
	color: #bf9959;
	font-size: 24px;
	font-family: 'Locator-Black-Italic-700';
	font-style: italic;
}

#thanks-header h3#social-request {
	margin-top: 75px;
	color: #333;
	font-size: 24px;
	font-family: 'Locator-Black-900';
	font-style: normal;
}

#thanks-book {
	margin-top: 25px;
}

#thanks-book img {
	max-width: 75%;
}

#thanks-text {
	margin-top: 25px;
	font-family: 'Locator-Light';
}

#thanks-buttons {
	text-align: center;
	width: 85%;
}

#thanks-buttons ul {
	list-style-type: none;
	padding: 0;
}

#thanks-buttons ul li {
	display: inline;
	padding: 0 20px;
}

#thanks-buttons ul li a {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Locator-Light';
}

#thanks .btn-lg {
	border: none;
	padding: 15px 0;
}

#thanks-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

/*Copyright*/
#footer {
	width: 100%;
	min-height: 100px;
	background-color: #000000;
}

#footer-left img {
	max-height: 40px;
	margin-top: 15px;
}

#footer-left a {
	text-decoration: none;
	color: #808080;
}

#footer-right img {
	max-height: 40px;
	margin-top: 30px;
}

#copyright-text	{
	margin-top: 5px;
	line-height: 15px;
	font-size: 0.75em;
	font-family: 'Locator-Light';
	color: #808080;
}

#site-credit {
	display: none;
	position: relative;
	bottom: -75px;
	line-height: 25px;
}

#site-credit a {
	color: #202020;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
}

/*Custom Media Queries*/
@media(max-width:1024px){
	#home {
		background: url('../img/backgrounds/wood-iphone.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}

@media(max-width:767px){
	#why-header h1 {
		font-size: 10vw;
	}
	
	#endorsements-header h1 {
		font-size: 10vw;
	}
	#purchase-header h1 {
		font-size: 10vw;
	}
	#author-header h1 {
		font-size: 10vw;
	}
	#share {
		background-image: none;
	}
	#share-header h1 {
		font-size: 10vw;
	}
	#thanks-header h1 {
		font-size: 10vw;
	}
}

@media(max-width:480px){
	#home-buttons, #why-buttons, #purchase-buttons {
		width: 100%;
		padding: 0;
	}

	#why-buttons ul li {
		padding: 0;
	}
}

@media(max-width:600px){
	#footer {
		text-align: center;
	}

	#footer-right img {
		display: none;
	}

	#footer-left {
		float: none !important;
	}
}

@media(min-width:768px) and (max-width:991px){
	
}

@media(min-width:992px) and (max-width:1199px){

}

@media(min-width:1200px){

}