/*Tan CMYK-25,40,65,0 HEX-#bf9959 RGB-191,153,89*/

/* ----- Styles ----- */

body {
	
}

.twitter-link {
	color: #4099ff;
}

/*Navbar*/
#main-nav {
	width: 100%;
}

.navbar {
	min-height: 40px;
	background-color: #ffffff;
	border: none;
}

.navbar-nav {
	margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    text-align: center;
}

.navbar-brand {
	margin-right: -44px;
	padding: 11px 12px 8px 8px;
	background-color: #bf9959;
}

.navbar-default .navbar-brand:hover {
	background-color: #cfaf77;
}

.navbar-brand span {
	color: #ffffff;
	font-size: 28px;
}

.navbar-toggle {

}

.navbar-default .navbar-nav>.active>a {
	background-color: #cfaf77;
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 13px;
	padding-bottom: 12px;
	color: #c0c0c0;
	text-transform: uppercase;
	font-family: 'Locator-Light';
	font-size: 12px;
	letter-spacing: 0.25em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #808080;
}

/*Content*/
#content-container {
	width: 100%;
}

/*Home*/
#home {
	padding: 50px 0;
	background-color: #555555;
	background: url('../img/backgrounds/photo.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#home #home-content {
	text-align: center;
}

#home #home-content img {
	margin-top: 50px;
	width: 50%;
	opacity: 0.8;
}

#home-buttons {
	text-align: center;
	width: 85%;
}

#home-buttons ul {
	list-style-type: none;
	padding: 0;
}

#home-buttons ul li {
	display: inline;
}

#home-buttons ul li button {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: 'Locator-Light';
	letter-spacing: 0.25em;
}

#home .btn-lg {
	border: none;
	padding: 15px 0;
}

#home-buttons ul li:first-child button {
	background-color: #ffffff;
	color: #000000;
}

#home-buttons ul li:last-child button {
	background-color: #bf9959;
	color: #ffffff;
}

#home-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#home-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#home-footer-credit {
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Why*/
#why {
	padding: 50px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#why-header {
	text-align: center;
}

#why-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#why-header h3 {
	color: #bf9959;
	font-family: serif;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#why-book {
	margin-top: 25px;
}

#why-book img {
	max-width: 75%;
}

#why-text {
	margin-top: 75px;
	font-family: 'Locator-Light';
}

#why-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#why-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#why-footer-credit {
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Endorsements*/
#endorsements {
	padding: 50px 0;
}

#endorsements-header {
	text-align: center;
	margin-bottom: 50px;
}

#endorsements-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#endorsements-container {
	width: 85%;
}

.endorsement {
	margin-bottom: 35px;
}

.endorsement-quote {
	margin: 0 0 10px 0;
	font-family: 'Locator-Light';
}

.endorsement-author {
	margin: 0 0 0 35px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Locator-Black-900'
}

#endorsements .twitter-link {
	margin-left: 10px;
}

.endorsement-author-description {
	margin: 0 0 0 35px;
	color: #808080;
	font-size: 12px;
}

#read-more-button {
	margin-bottom: 50px;
	text-align: center;
}

#read-more-button .btn-lg {
	border: none;
}

#read-more-button .btn-default {
	padding: 15px 75px;
	background-color: #c0c0c0;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Locator-Light';
	letter-spacing: 0.25em;
}

#read-more-button .btn-default:hover {
	background-color: #e0e0e0;
}

#endorsements-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#endorsements-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#endorsements-footer-credit {
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Purchase*/
#purchase {
	padding: 50px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#purchase-header {
	text-align: center;
	margin-bottom: 50px;
}

#purchase-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#purchase-buttons {
	margin-bottom: 50px;
	text-align: center;
	width: 85%;
}

#purchase-buttons ul {
	list-style-type: none;
	padding: 0;
}

#purchase-buttons ul li {
	display: inline;
}

#purchase-buttons ul li button {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Locator-Light';
}

#purchase .btn-lg {
	border: none;
	padding: 15px 0;
}

#purchase-buttons ul li:first-child button {
	background-color: #c0c0c0;
	color: #ffffff;
}

#purchase-buttons ul li:last-child button {
	background-color: #bf9959;
	color: #ffffff;
}

#purchase-book {
	text-align: center;
}

#purchase-ebook {
	text-align: center;
}

#purchase-book img {
	max-width: 100%;
}

#purchase-ebook img {
	max-width: 100%;
}

#purchase-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#purchase-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#purchase-footer-credit {
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Author*/
#author {
	padding: 50px 0;
}

#author-header {
	text-align: center;
	margin-bottom: 50px;
}

#author-header h1 {
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#author-pic {
	text-align: center;
}

#author-pic img {
	max-width: 50%
}

#author-text {
	text-transform: uppercase;
	font-family: 'Locator-Light';
}

#author .twitter-link {
	font-size: 48px;
}

#author-footer {
	background-color: #000000;
	text-align: center;
	line-height: 30px;
}

#author-footer-quote {
	margin: 0;
	padding: 25px 0;
	color: #ffffff;
	font-size: 24px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-style: italic;
}

#author-footer-credit {
	color: #bf9959;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Locator-Black-Italic-700';
}

/*Share*/
#share {
	padding: 50px 0;
	background-color: #ffffff;
	background: url('../img/backgrounds/texture-dark.png');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

#share-header {
	text-align: center;
	margin-bottom: 50px;
}

#share-header h1 {
	padding-top: 25px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 6vw;
	font-family: 'Locator-Black-900';
}

#share-buttons ul {
	list-style-type: none;
	padding: 0;
}

#share-buttons ul li button {
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Locator-Light';
}

#share .btn-lg {
	border: none;
	padding: 15px 0;
}

#share-buttons ul li:first-child button {
	background-color: #3b5999;
	color: #ffffff;
}

#share-buttons ul li:last-child button {
	background-color: #4099ff;
	color: #ffffff;
}

/*Copyright*/
#copyright {
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: #000000;
}

#copyright img {
	max-height: 75%;
}

/*Contact*/
#contact .modal-content {
	background-color: rgba(256,256,256,0.75);
}

#contact .modal-header {
	border: none;
}

#contact-form label {
	color: #404040;
}

#contact .modal-footer {
	padding: 0;
	border: none;
}

#contact-buttons {
	float: left;
}

#submit-status {
	line-height: 34px;
}

#submit-status .alert-success {
border-color: #7ec97f;
}

#submit-status .alert-danger {
border-color: #dd9a98;
}

/*Back To Top Button*/
#back-to-top {
	width: 100%;
	position: fixed;
	bottom: -2px;
	text-align: center;
}

#back-to-top span {
	font-size: 32px;
}

#back-to-top a {
	padding: 20px 25px 0px 25px;
	background-color: #bf9959;
	color: #ffffff;
	border-radius: 1em 1em 0 0;
}

#back-to-top a:hover {
	text-decoration: none;
}